<!doctype html>
<html>
  <head>
    <title>
        
        {{ title }}
        
    </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fork_please.css">
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/fork_please.js"></script>
  </head>
  <body>
    <header>
        <div>fork_please</div>
    </header>

    <div class='content'>
    
      {% block content %}{% endblock %}
    
    </div>
  </body>
</html>
