{% extends 'base.html' %}

{% block content %}
<div id="attendees">
<input class="search" placeholder="Search" />
<button class="sort" data-sort="name">
Sort by name
</button>
<form method="POST" action="/event/toggle_attendance/">
{{ toggle_form.csrf_token }}
<table class="table">
<tbody class="list">
{% for attendee in attendees %}
<tr>
    <input type="hidden" name="attendee_name" value="{{attendee.name}}"/>
    <input type="hidden" name="event" value="{{event_slug}}"/>
    <td class="name">{{attendee.name}}</td>
    <td>
        {% if attendee.is_checked %}
        <button type="submit" name="is_checked" value="false" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        {% else %}
        <button type="submit" name="is_checked" value="true" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-unchecked"></span>
        </button>
        {% endif %}
    </td>
    <td>
        {% if attendee.is_impromptu %}
          <span class="glyphicon glyphicon-sunglasses"></span>
        {% else %}
          <span class="glyphicon glyphicon-pencil"></span>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</form>
</div>
{% endblock %}
